nav ul {
	padding-left: 0;
}
	
nav li {
	list-style: none;
}

nav a {
	color:brown;
	border-bottom: 1px solid #ccc;
	display:block;
	padding: .5rem .75rem;
	text-decoration: none;
}

nav a:hover, nav a:focus {
	background-color: red;
	color: white;
	outline: none;
}

nav a:active {
	background-color: red;
}
@media ( min-width: 600px ) {
	
	nav a {
		border:none;
		display: inline-block;
	}
	
	nav li {
		display: inline-block;
	}

}